* {
  margin: 0 auto;
  padding: 0;
}

body {
  background: #ffffff;
  justify-content: center;
  perspective: 500px;
  perspective-origin: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.card {
  min-height: 300px;
  width: 250px;
  position: relative;
  border-radius: 0.25rem;
  background-color: rgb(249, 242, 227);
}

.cardFront,
.cardBack {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 0.25rem;
  height: 100%;
  padding: 25px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  transition: transform 0.5s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardBack {
  background-color: #ebf4ff;
  transform: perspective(1000px) rotateY(180deg);
}

.cardBack.flipped {
  transform: perspective(1000px) rotateY(0deg);
}

.cardFront {
  transform: perspective(1000px) rotateY(0deg);
}

.cardFront.flipped {
  transform: perspective(1000px) rotateY(-180deg);
}

.abstract{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

h2 {
  margin-top: 10px;
  font-size: 18px;
}

p{
  font-size: 14px;
}

.readMore{
  border: 0;
  background-color: #ebf4ff;
  width: 40px;
  height: 12px;
  font-size: 12px;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 6px;
}

.right {
  margin-right: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  margin-left: 1px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.card img {
  margin-top: 10%;
  margin-bottom: 10%;
  height: auto;
  width: 100%;
}

.modal {
  display: none; 
  position: fixed; 
  top: 5%;
  left: 5%;
  width: 700px; 
  height: 800px; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modalContent {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.docs {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.frontModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 8vh;
  left: 25vw;
  width: 60vw;
  height: 80vh;
}

#card0 {
  transform: rotateY(0deg) translateZ(288px);
}
#card1 {
  transform: rotateY(0deg) translateZ(288px);
}
#card-1 {
  transform: rotateY(0deg) translateZ(288px);
}
#card2 {
  transform: rotateY(0deg) translateZ(288px);
}
#card-2 {
  transform: rotateY(0deg) translateZ(288px);
}
#card3 {
  transform: rotateY(0deg) translateZ(288px);
}
#card-3 {
  transform: rotateY(0deg) translateZ(288px);
}
